@charset "utf-8";
/* CSS Document - Project 1 */

.filter-options {
	display: flex;
	flex-wrap: wrap;
	height: 100%;
}
#filter-results-label {
	padding-top: 8px;
}
#neighborhoods-select {
	width: 100%;
}
#cuisines-select {
	width: 100%;
}
div .show_restaurants {
	width: 100%;
}

ul #restaurants-list {
	width: 100%;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: auto;
	/*padding: 4em 1em;  em is = to font-size! so 12pt*/
}

.footer_link {
	color: orange;
	font-weight: bold;
}

@media screen and (min-width: 465px) {
	#neighborhoods-select {
		width: 30%;
	}
	#cuisines-select {
		width: 30%;
	}
	#filter-results-label {
		padding-top: 3px;
		width: 20%;
		margin: 0;
	}
	.inside {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		width: 100%
	}
	#restaurant-container, #reviews-container {
	  border-bottom: 1px solid #d9d9d9;
	  border-top: 1px solid #fff;
	  /*padding: 140px 40px 30px;*/
	  width: 100%;
	}
	.inside #map-container, #map {
	  background: blue none repeat scroll 0 0;
	  height: 20%;
	 /* position: fixed;
	  right: 0;
	  top: 80px;*/
	  width: 100%;
	}
}

/*why iphone 8 coming here?*/
@media screen and (min-width: 500px) {
	#neighborhoods-select {
		width: 30%;
	}
	#cuisines-select {
		width: 30%;
	}
	#filter-results-label {
		padding-top: 3px;
		padding-left: 15px;
		width: 20%;
	}
	#restaurants-list {
		display: grid;
		grid-template-columns: 45% 45%;
		grid-template-rows: repeat(auto auto);
	}
	#restaurants-list li {
		padding-top: 14%;
		position: relative;
	}
	#restaurant-container, #reviews-container {
	  border-bottom: 1px solid #d9d9d9;
	  border-top: 1px solid #fff;
	  padding: 140px 40px 30px;
	  width: 50%;
	}
	.inside #map-container {
	  background: blue none repeat scroll 0 0;
	 /* height: 87%;*/
	  height: 375;
	  position: fixed;
	  right: 0;
	  top: 80px;
	  width: 100%;
	}
}

@media screen and (min-width: 665px) {
	#restaurants-list {
		display: grid;
		grid-template-columns: 30% 30% 30%;
		grid-template-rows: repeat(auto, auto);
	}
	#restaurants-list li {
		padding-top: 14%;
		position: relative;
	}
}